<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.facebook.com/ProvincialGovernmentofTarlac">
                        Tarlac COVID-19 Task Force
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/ProvincialGovernmentofTarlac">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog..com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.sample.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
      
    </div>
</footer>
