<link rel="stylesheet" href="dashboard.component.css">

<!--Graphical Representation [Forecasted Results]-->
<div class="main-content">
  <div class="container-fluid">
      <div class="  card mb-3 ">
                   <div class="card-header card-header-info">
                             <div id='container'> </div>
                             </div>
                                <div class="card-footer">
                                  <div>
                                    <ul>
                                      <li><b>According to the study, the machine learning model used in this prediction deviates 
                                        ±5.91 from the actual Total COVID-19 Cases in Tarlac with 0.03% error margin. </b></li>
                                    </ul>
                             </div>     
                    </div>      
        </div>
</div>
